<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of owner</title>
</head>
<body>
<!--@thymeVar id="owner"  type="com.example.demo.model"-->
<h1 th:text="'list of owner'">List of Owner------------</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last Name</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>2nd</td>
        <td>Myintzu</td>
        <td>Thi</td>
    </tr>
    <tr th:each="owner: ${owners}">
        <td th:text="${owner.id}">3L</td>
        <td th:text="${owner.firstName}"> Myint </td>
        <td th:text="${owner.lastName}">Su</td>
    </tr>
    </tbody>
</table>
</body>
</html>